@font-face {
  font-family: Rosario;
  src: url(fonts/Rosario.ttf);
}
@font-face {
  font-family: Roboto;
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(fonts/Roboto-Bold.ttf);
}
.center-body {
  max-width: 1151px;
  margin: 0px auto;
}
@media screen and (max-width: 1133px) {
  .center-body {
    margin: 0px 20px;
  }
}
@media screen and (max-width: 680px) {
  .center-body {
    margin: 0px 10px;
  }
}

body {
  font-family: Roboto;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  margin: 0px;
}

.relative {
  position: relative;
}

.scroller {
  right: 0px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .scroller {
    display: none;
  }
}

.absolute {
  position: absolute;
}

.footer {
  background-color: #f4f4f4;
}
@media screen and (max-width: 768px) {
  .footer .gap-62 {
    gap: 24px;
  }
  .footer .row1 {
    flex-direction: column;
    gap: 24px;
    width: 328px;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    font-size: 14px;
  }
  .footer .row-mobile {
    flex-direction: column;
    gap: 24px;
    width: 328px;
  }
  .footer .copyright {
    font-size: 12px;
  }
}

.header {
  border-bottom: 2px #E8E8E8 solid;
}
@media screen and (max-width: 680px) {
  .header {
    display: none;
  }
}

.logo-text {
  font-family: Rosario;
  font-size: 22px;
  text-transform: uppercase;
  color: #E11C4B;
  font-weight: 700;
}

.search-bar {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  border-radius: 100px;
  border: 2px solid #dddddd;
  width: 473px;
  height: 46px;
  padding-left: 50px;
  background-image: url(img/Search.svg);
  background-repeat: no-repeat;
  background-position: 18px;
}

.overflow-x {
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.vertical-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.warp {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.gap-34 {
  gap: 34px;
}
@media screen and (max-width: 795px) {
  .gap-34 {
    gap: 18px;
  }
}

.gap-36 {
  gap: 36px;
}

.gap-62 {
  gap: 62px;
}

.lh-17 {
  line-height: 17px;
}

.lh-0 {
  line-height: 0px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-96 {
  margin-bottom: 96px;
}

.pt-36 {
  padding-top: 36px;
}

.pt-18 {
  padding-bottom: 18px;
}

.mb-38 {
  margin-bottom: 38px;
}

.pr-6 {
  padding-right: 6px;
}

.mr-12 {
  margin-right: 12px;
}

.ml-25 {
  margin-left: 25px;
}

.Roboto-36 {
  font-family: Roboto-Bold;
  font-size: 36px;
  line-height: 42.19px;
  padding-top: 36px;
  padding-bottom: 36px;
}
@media screen and (max-width: 680px) {
  .Roboto-36 {
    font-size: 24px;
    line-height: 28.13px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.copyright {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #8D8D8D;
}

.menu div {
  cursor: pointer;
}
.menu div:hover {
  color: #E11C4B;
}

.big-percent {
  font-family: Roboto-Bold;
  font-size: 21px;
}

.moveright {
  transform: translate(-1190px);
  transition-duration: 200ms;
  transition-property: all;
}

.moveleft {
  transform: translate(0px);
  transition-duration: 200ms;
  transition-property: all;
}

.turn {
  left: 0px;
  transform: rotate(0.5turn);
}

@media screen and (max-width: 891px) {
  .site-control .text-center div {
    display: none;
  }
}
@media screen and (max-width: 680px) {
  .site-control .text-center img {
    width: 24px;
  }
}

@media screen and (max-width: 1133px) {
  .img-act {
    max-width: 756px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 780px) {
  .img-act {
    max-width: 300px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 768px) {
  .img-act img {
    width: 355px;
  }
}
@media screen and (max-width: 680px) {
  .img-act img {
    width: 300px;
  }
}

@media screen and (max-width: 680px) {
  .mobile-between img {
    width: 180px;
  }
  .mobile-between .cross {
    width: 18px;
  }
}

.mobile-visible {
  display: none;
}
@media screen and (max-width: 680px) {
  .mobile-visible {
    display: block;
  }
}

@media screen and (max-width: 680px) {
  .mobile-hidden {
    display: none;
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 680px) {
  .grid-header {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: calc(100% - 120px) 120px;
    grid-template-rows: 55.5px 38px;
  }
  .grid-header img {
    grid-column: 1;
    grid-row: 1;
  }
  .grid-header .search-container {
    grid-column: 1/3;
    grid-row: 2;
    font-size: 14px;
    display: flex;
    align-items: center;
  }
  .grid-header .site-control {
    grid-column: 2;
    grid-row: 1;
  }
  .grid-header .search-bar {
    height: 32px;
    width: calc(100% - 56px);
  }
  .grid-header .ml-25 {
    margin-left: 0;
  }
  .grid-header .mr-12 {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .social {
    position: absolute;
    top: 36px;
    right: 0px;
  }
}
@media screen and (max-width: 500px) {
  .social {
    position: initial;
  }
}

@media screen and (max-width: 768px) {
  .mobile-relative {
    position: relative;
  }
}
@media screen and (max-width: 500px) {
  .mobile-relative .mobile-reverse {
    flex-direction: column-reverse;
  }
  .mobile-relative .vertical-center {
    align-items: flex-start;
  }
}

.header-burger {
  font-size: 28px;
  display: none;
}
@media screen and (max-width: 500px) {
  .header-burger {
    display: inline-block;
  }
}

.header-menu {
  display: none;
  padding-top: 6px;
  padding-right: 15px;
}
@media screen and (max-width: 500px) {
  .header-menu {
    display: block;
  }
}

.header-platform {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  flex-direction: column;
  font-size: 16px;
}
.header-platform .Roboto-36 {
  border-bottom: 0;
  padding-top: 48px;
  padding-bottom: 10px;
}
.header-platform div {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 2px solid #E8E8E8;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header-platform div img {
  width: 32px;
  padding-right: 8px;
}
.header-platform div .burger-direction {
  position: absolute;
  right: 10px;
  width: 8px;
}

.cross {
  position: absolute;
  right: 10px;
  top: 18px;
}

/*# sourceMappingURL=css.css.map */
