@font-face {
    font-family: Rosario;
    src: url(fonts/Rosario.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}
.center-body{
    max-width: 1151px;
    margin: 0px auto;
    @media screen and (max-width: 768px) {
        margin: 0px 20px;
    }
}
body{
    font-family: Roboto;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    margin: 0px;
}
.relative{
    position: relative;
}
.scroller{
    right: 0px;
    cursor: pointer;
}
.absolute{
    position: absolute;
}
.footer{
    background-color: #f4f4f4;
    @media screen and (max-width: 768px) {
        .gap-62{
            gap: 24px;
        }
        .row1{
            flex-direction: column;
            gap: 24px;
            width: 328px;
        }
    }
}
.header{
    border-bottom: 2px #E8E8E8 solid;
}
.logo-text{
    font-family: Rosario;
    font-size: 22px;
    text-transform: uppercase;
    color: #E11C4B;
    font-weight: 700;
}
.search-bar{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 18.75px;

    border-radius: 100px;
    border: 2px solid #dddddd;
    width: 473px;
    height: 46px;
    padding-left: 50px;
    background-image: url(img/Search.svg);
    background-repeat: no-repeat;
    background-position: 18px;
    margin-right: 25px;
    margin-left: 12px;
}
.overflow-x{
    overflow-x: hidden;
}
.flex{
    display: flex;
}
.vertical-center{
    align-items: center;
}
.text-center{
    text-align: center;
}
.warp{
    flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
}
.gap-12{
    gap: 12px;
}
.gap-24{
    gap: 24px;
}
.gap-34{
    gap: 34px;
}
.gap-36{
    gap: 36px;
}
.gap-62{
    gap: 62px;
}
.lh-17{
    line-height: 17px;
}
.lh-0{
    line-height: 0px;
}
.mt-8{
    margin-top: 8px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-96{
    margin-bottom: 96px;
}
.pt-36{
    padding-top: 36px;
}
.pt-18{
    padding-bottom: 18px;
}
.mb-38{
    margin-bottom: 38px;
}
.pr-6{
    margin-right: 6px;
}
.Roboto-36{
    font-family: Roboto-Bold;
    font-size: 36px;
    line-height: 42.19px;
    
    padding-top: 36px;
    padding-bottom: 36px;
}
.copyright{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #8D8D8D;
}
.menu{
    div{
        cursor: pointer;
        &:hover{
            color: #E11C4B;
        }
    }
}
.big-percent{
    font-family: Roboto-Bold;
    font-size: 21px;
}
.moveright{
    transform: translate(-1190px);
    transition-duration: 200ms;
    transition-property: all;
}
.moveleft{
    transform: translate(0px);
    transition-duration: 200ms;
    transition-property: all;
}
.turn{
    left: 0px;
    transform: rotate(0.5turn);
}
.site-control{
    .text-center {
        div{
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }
}